<!DOCTYPE html>
<html>

<head>
  <title>Authorization </title>
  <link rel="icon" type="image/png" href="/icon/ProGalleryIcon.svg">
  <link rel='stylesheet' href='./styles/main.css' />
</head>

<body>

  <div class="main">

    <h1>Admin Page</h1>

    <form class="mainform">
      <button type="submit">logout</button>
    </form>
    
    <div class="answ"></div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="./js/logout.js"></script>

</body>

</html>