<!DOCTYPE html>
<html>

<head>
  <title>Api </title>
  <link rel="icon" type="image/png" href="/icon/ProGalleryIcon.svg">
  <link rel='stylesheet' href='./styles/main.css' />

</head>

<body>

  <div class="json">
    <%=JSON.stringify(data)%>
  </div>

</body>

</html>