<!DOCTYPE html>
<html>

<head>
  <title>Hello</title>
  <link rel="icon" type="image/png" href="/icon/ProGalleryIcon.svg">
  <link rel='stylesheet' href='/styles/style.css' />
</head>

<body>

  <h1>HELLO!</h1>

  <p>
    <%-name%>
  </p>
  <br><br><br><br>
  <div class="addphoto-link"><a href="/upload">Add new photo</a></div>
  <a href="/profile?userid=<%-_id%>">Update my profile</a><br>
  <br>
  <a href="/auth/logout">LogOut</a>
  

</body>

</html>