<!DOCTYPE html>
<html>

<head>
    <title>Form to sign up</title>
    <link rel="icon" type="image/png" href="/icon/ProGalleryIcon.svg">
        <link rel='stylesheet' href='/styles/style.css' />
</head>

<body>

    <div class="main">

        <h1>Registration Page</h1>
  
        <form class="mainform">
            <input type="text" name="name" placeholder="name"><br><br>
            <input type="text" name="surname" placeholder="surname"><br><br>
            <input type="text" name="login" placeholder="login"><br><br>
            <input type="password" name="password" placeholder="password"><br><br>  
            <input type="email" name="mail" placeholder="me@example.com"><br><br>
            <input type="tel" name="telephone" placeholder="+38(012)1234567" pattern="^\+[3][8]\((0\d{2})\)(\d{7})$"><br><br>
            <input type="date" name="dateBirthday" placeholder="birthday"><br><br>
            <button class="button" type="submit">Sign up</button>
        </form><br><br>
        
        <a href="/">Go to back</a><br><br>
      

        <div class="answ"></div>
      
      </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="/js/register.js"></script>

</body>

</html>